<!--<h3>NgIf</h3>

<div *ngIf="cursos.length > 0 "> 
    Lista de Cursos: {{cursos}}
</div>

<div *ngIf="cursos.length == 0 "> 
    Lista de Cursos:
</div>

<div *ngIf="cursosNull.length > 0 "> 
    Lista de CursosNull:
</div>

<div *ngIf="cursosNull.length == 0 "> 
    Lista de CursosNull esta vazia!
</div>-->

<!--<h3>NgFor</h3>

<ol>
    <li *ngFor="let curso of cursos">
        {{curso}}
    </li>
</ol>-->

<!--<h3> Ng Class
 <i class="bi"
 [class.bi-0-circle]="!bolinha"
 [class.bi-1-circle-fill]="bolinha"
 (click)="onClick()">
</i>
</h3>-->

<!--<h3> Ng Style</h3>
<button
[style.backgroundColor]="ativo ? 'blue' : 'gray'"
[style.color]="ativo ? 'white' : 'black'"
[style.fontWwight]="ativo ? 'bold' : 'normal'"
[style.fontSize]="tamanhoFonte + 'px'"
(click)="mudarAtivo()"
>
Clique Aqui
</button>

<button
[ngStyle]="{
    'backgroundColor': (ativo ? 'blue' : 'gray'),
    'color': (ativo ? 'white' : 'black'),
    'fontWwight': (ativo ? 'bold' : 'normal'),
    'fontSize': (tamanhoFonte + 'px')  
}"
(click)="mudarAtivo()"
>Me clique
</button>
<br><br>
<input type="text" [(ngModel)]="tamanhoFonte">-->

<!--<p diretivaUm>
    Ola
</p>-->

<p diretivaDois>
    Ola, texto em amarelo
</p>
